.footerMain {
  width: 100%;
  color: #dee2e6;
  margin-left: 5vw;
}

.contentWraper {
  display: flex;
  align-items: center;
}

.logo {
  margin: 120px;
}

.contactWork {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 200px;
  position: relative;
}

#aboutContact {
  display: inline-block;
  list-style: none;
  text-align: left;
}
#aboutContact > li {
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: center;
}

#aboutContact a {
  cursor: pointer;
}
#socialContact {
  display: flex;
  flex-direction: row;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .contentWraper {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }
  .logo svg {
    width: 50px;
  }

  #aboutContact {
    margin-top: 0;
    text-align: center;
  }

  h4 {
    text-align: left;
  }
}
