.frontMain {
  position: relative;
  height: 100%;
  overflow: auto;

  margin-right: 5vw;
  overflow: hidden;
  animation: transitionIn 1s;
}
.contentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

#titleSec2 {
  margin-top: 150px;
  font-weight: bold;
  margin-bottom: 100px;
}

.picture {
  width: 550px;
  height: 300px;
  border-radius: 5px;
}

.project {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  justify-content: center;
}
.projectTags {
  display: flex;
  color: var(--elements);
  justify-content: right;
  list-style: none;
}

.description {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.projectLinks {
  display: flex;
  justify-content: right;
  list-style: none;
}
.line {
  width: 80px;
  background-color: #ffffff;
  opacity: 20%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid;
  margin-right: 0px;
}

#reverse {
  display: flex;
  flex-direction: row-reverse;
}

#reverse .projectLinks {
  justify-content: left;
}

#reverse .projectTags {
  justify-content: left;
}

#reverse .description {
  text-align: left;
}

#reverse .line {
  margin-left: 0px;
}
