.Hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  color: #ffffff;
  animation: transitionIn 1s;
}

.nameClass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 6em;
  color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Krona One", sans-serif;
}

.nameClass span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
}
.nameClass:hover span:nth-child(1) {
  transform: translateY(-50px);
}

.nameClass span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: 0.5s;
  clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
  overflow: hidden;
}

.nameClass:hover span:nth-child(2) {
  transform: translateY(50px);
}

.nameClass span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) scaleY(0);
  width: 90%;
  color: var(--font);
  letter-spacing: 10px;
  font-size: 0.25em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Krona One", sans-serif;
  transition: 0.5s;
}
.nameClass:hover span:nth-child(3) {
  transform: translateY(-50%) scaleY(1);
}
.arrowButton {
  position: absolute;
  z-index: 10;
  left: 49%;
  top: 70%;
}

.arrowButton:hover path {
  cursor: pointer;
  stroke: var(--elements);
  fill: var(--elements);
}

.arrowButton:hover path.one {
  animation: color_anim 1s infinite;
}
.arrowButton:hover path.two {
  animation: color_anim 1s infinite;
  transform: translateY(-60%);
  transition: 0.5s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: var(--elements);
  }
  100% {
    fill: white;
  }
}

.helloText {
  position: relative;
  top: 15%;
  color: var(--elements);
  font-weight: 100;
  font-size: 40px;
  font-style: italic;
  font-family: "Dosis", sans-serif;
}

@media screen and (max-width: 767px) {
  .helloText {
    font-size: 30px;
    top: 25%;
  }
  .nameClass {
    font-size: 3em;
  }
}
