body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #202020;
  height: 100%;
}

.Hero {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 6em;
  color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Krona One", sans-serif;
}

h2 span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
}
h2:hover span:nth-child(1) {
  transform: translateY(-50px);
}

h2 span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: 0.5s;
  clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
  overflow: hidden;
}

h2:hover span:nth-child(2) {
  transform: translateY(50px);
}

h2 span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) scaleY(0);
  width: 90%;
  color: white;
  letter-spacing: 10px;
  font-size: 0.25em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Krona One", sans-serif;
  transition: 0.5s;
}
h2:hover span:nth-child(3) {
  transform: translateY(-50%) scaleY(1);
}

h5 {
  position: absolute;
  top: 20%;
  left: 30%;
  color: white;
  font-weight: 100;
  font-size: 40px;
  font-style: italic;
  font-family: "Dosis", sans-serif;
}

.seeMore {
  position: absolute;
  width: 350px;
  height: 50px;
  top: 70%;
  background: none;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
}

@media screen and (max-width: 400px) {
  h5 {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 3em;
  }
}
