body {
  color: var(--font);
}

.uxMain {
  position: relative;
  height: 100%;
  overflow: auto;
  margin-left: 5vw;
  margin-right: 5vw;
  overflow: hidden;
  animation: transitionIn 0.75s;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  margin-bottom: 80px;
  margin-left: 5vw;
  margin-right: 5vw;
}

#titleSec {
  margin-top: 150px;
}

.textPhoto {
  color: var(--font);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.number {
  font-family: "Krona One", sans-serif;
  font-size: 150px;
  line-height: 0.85em;
  font-weight: 400;
  letter-spacing: 0.04em;
  display: block;
  opacity: 20%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
.titleSmall {
  color: #ffffff;
  position: relative;
  top: -120px;
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  white-space: nowrap;
}

.pieceTitle {
  position: relative;
  top: -40px;
  left: 10px;
  font-size: 40px;
  font-family: "Krona One", sans-serif;
  color: #fff;
}

h3 + p {
  margin-left: 5vw;
  margin-bottom: 100px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
