.aboutMain {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: #1e1e1e;
  color: #dee2e6;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}
.header {
  position: absolute;
  margin-left: 20%;
}
.content {
  margin: 5vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.header h5 {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;

  letter-spacing: 2px;
}

.header h5::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #dee2e6;
  margin: 3px 90%;
}

.description {
  margin-left: 10px;
  width: 40%;
}
.description ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
li {
  margin-right: 20px;
}

.profilePhoto {
  width: 30%;
  height: 400px;
  background-color: wheat;
}
